build
tmp
target
.DS_Store
_site
.Rproj.user
.RData
.Rhistory
.Rapp.history

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Other project configuration files
.classpath
.project
.settings/
