<!-- 
  *   '$RCSfile: default.css,v $'
  *     Purpose: Default style sheet for KNB project web pages 
  *              Using this stylesheet rather than placing styles directly in 
  *              the KNB web documents allows us to globally change the 
  *              formatting styles of the entire site in one easy place.
  *   Copyright: 2000 Regents of the University of California and the
  *               National Center for Ecological Analysis and Synthesis
  *     Authors: Matt Jones
  *
  *    '$Author: cjones $'
  *      '$Date: 2001-02-08 01:25:51 $'
  *  '$Revision: 1.1 $'
  *
  *
  -->

body { 
    color: black; 
    background: white;
    font-size: 1em; 
    font-family: Arial; }
a {
    color: green;
    text-decoration: underline; }
a.toollink {
    color: green;
    text-decoration: none; }
a.sitelink {
    color: green;
    text-decoration: none; 
    font-weight: bold; }
.logo {
    background: #ccccff;
    color: green;
    width: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 2em; 
    font-weight: bold; }
.tabledefault {
    background: white;
    color: black;
    width: 100%;
    font-size: 1em; 
    left-padding: 0.25em;
    right-padding: 0.25em; }
.tablepanel {
    background: #eeeeee;
    color: black;
    font-size: 1em; 
    left-padding: 0.25em;
    right-padding: 0.25em; }
.tablehead {
    background: #ccccff;
    vertical-align: baseline;
    color: black;
    }
.tableheadcontrast {
    background: #dddddd;
    vertical-align: baseline;
    color: black;
    font-size: 1.2em; 
    font-weight: bold; }
.title { 
    color: black; 
    margin-top: 1em;
    font-size: 1.5em; 
    font-weight: bold; }
.subtitle { 
    color: black; 
    margin-top: 0.5em;
    margin-left: 3em;
    font-weight: bold;
    font-style: italic; }
.pagetitle {
    font-family: Arial;
    font-size: 3em;
    font-weight: bold;
    color: green;
    margin-left: 0.25em; }
.pagesub {
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    color: green;
    margin-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 2em; }
.instright { 
    color: black; 
    text-align: right;
    vertical-align: middle;
    padding: 1em;
    font-size: 1em; 
    font-weight: bold; }
.instleft { 
    color: black; 
    text-align: left;
    vertical-align: middle;
    padding: 1em;
    font-size: 1em; 
    font-weight: bold; }
p { 
    margin: 0.25em; }
.required { 
    color: red; }
.emphasis { 
    color: red; }
p.label { 
    color: black; 
    font-weight: bold; }
p.contact { 
    color: black; 
    padding: 1em;
    font-size: 0.75em; 
    font-weight: normal;
    font-style: italic; }
p.header {
    color: black; 
    padding: 1em;
    font-size: 0.75em; 
    font-weight: bold; }
img.logoright {
    padding: 0.5em;
    border: none;
    float: right; }
img.logoleft {
    padding: 0.25em;
    border: none;
    float: left; }
.roweven {
    background: #c0d3e7; }
.rowodd {
    background: white; }
.highlight  {
    background-color: #dddddd; 
    font-size: -1; }
