 /*
       '$RCSfile: default.css,v $'
       Copyright: 1997-2002 Regents of the University of California,
                            University of New Mexico, and
                            Arizona State University
        Sponsors: National Center for Ecological Analysis and Synthesis and
                  Partnership for Interdisciplinary Studies of Coastal Oceans,
                     University of California Santa Barbara
                  Long-Term Ecological Research Network Office,
                     University of New Mexico
                  Center for Environmental Studies, Arizona State University
   Other funding: National Science Foundation (see README for details)
                  The David and Lucile Packard Foundation
     For Details: http://knb.ecoinformatics.org/

        '$Author: jones $'
          '$Date: 2002-09-09 09:46:42 $'
      '$Revision: 1.7 $'

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
  */

body { 
    color: black; 
    background: white;
    font-size: 1em;  
    font-family: Arial,Helvetica,sans-serif; }
a {
    color: green;
    text-decoration: underline; }
a.toollink {
    color: green;
    text-decoration: none; }
a.sitelink {
    color: green;
    text-decoration: none; 
    font-weight: bold; }
a.navlink {
    color: green;
    text-align: right;
    font-weight: bold; }
.logo {
    background: #ccccff;
    color: green;
    width: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    font-size: 2em; 
    font-weight: bold; }
.tabledefault {
    background: white;
    color: black;
    width: 100%;
    font-size: 1em; 
    left-padding: 0.25em;
    right-padding: 0.25em; }
.tablepanel {
    background: #eeeeee;
    color: black;
    font-size: 1em; 
    left-padding: 0.25em;
    right-padding: 0.25em; }
.tablehead {
    background: #ccccff;
    vertical-align: baseline;
    color: black;
    font-size: 1em;
    font-weight: bold;
    }
.tableheadcontrast {
    background: #dddddd;
    vertical-align: baseline;
    color: black;
    font-size: 1.2em; 
    font-weight: bold; }
.title { 
    color: black; 
    vertical-align: top;
    margin-top: 1em;
    font-size: 1.5em; 
    font-weight: bold; }
.subtitle { 
    color: black; 
    margin-top: 0.5em;
    margin-left: 3em;
    font-weight: bold;
    font-style: italic; }
.pagetitle {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: green;
    margin-left: 0.25em; }
.pagesub {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: green;
    margin-left: 3em;
    margin-top: 0.5em;
    margin-bottom: 2em; }
.instright { 
    color: black; 
    text-align: right;
    vertical-align: middle;
    padding: 1em;
    font-size: 1em; 
    font-weight: bold; }
.instleft { 
    color: black; 
    text-align: left;
    vertical-align: middle;
    padding: 1em;
    font-size: 1em; 
    font-weight: bold; }
p { 
    margin: 0.25em; }
.required { 
    color: red; }
.emphasis { 
    color: red; }
p.label { 
    color: black; 
    font-weight: bold; }
p.contact { 
    color: black; 
    padding: 1em;
    font-size: 0.75em; 
    font-weight: normal;
    font-style: italic; }
p.header {
    color: black; 
    padding: 1em;
    font-size: 0.75em; 
    font-weight: bold; }
img.logoright {
    padding: 0.5em;
    border: none;
    float: right; }
img.logoleft {
    padding: 0.25em;
    border: none;
    float: left; }
.roweven {
    background: #c0d3e7; }
.rowodd {
    background: white; }
.highlight  {
    background-color: #dddddd; 
    font-size: -1; }
.plaintext {
    color: black;
    font-weight: normal;
    font-size: 1em;
    }
.boldtext {
    color: black;
    font-weight: bold;
    font-size: 1em;
    }
